* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #212529;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.banner-container {
    background-image: url("../images/banner-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-img {
    margin: 7.5rem 0 5.5rem;
}

.banner {
    color: #514949;
    padding: .625rem;
}

.banner h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 2.25rem;
    text-align: center;
}

.banner p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: 0.8;
}

a {
    color: #E7332B;
    font-weight: 500;
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.75rem 0 3.125rem;
}

.banner-btn {
    border: 1px solid #E7332B;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 28px;
}

.red-btn {
    background-color: #E7332B;
    color: #fff;
}

.inverse-btn {
    color: #E7332B;
    background-color: #fff;
}

.programs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 16px 0;
}

.programs-container h3 {
    color: #E7332B;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01rem;
}

.programs-container .slogan {
    color: #514949;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    margin: .5rem 0 4rem;
}

.program-card {
    background-color: #FFFAFA;
    margin: 1.5rem 1rem 3rem;
    padding: 62px 47px 82px 36px;
    text-align: left;
}

.program-card img {
    margin-bottom: 2.6rem;
}

.program-card p {
    color: #514949;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

.program-card a {
    color: #E7332B;
    font-weight: 500;
    opacity: 0.9;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13.45rem 0 0;
    text-align: center;
}

footer h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .35rem;
    color: #514949;
}

footer a {
    display: block;
    margin: 0 0 1rem;
}

.footer-logo {
    width: 150px;
    margin-bottom: 18px;
}

.contact-container h3 {
    margin: 2rem 0 0;
}

.contact-container p {
    color: #514949;
    font-size: 14px;
}

.contact-icons {
    margin: 0 0 4.75rem;
}

.contact-icons a {
    display: inline-block;
    margin: 0;
}

hr {
    width: 90%;
    opacity: .8;
}

hr~p {

    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #514949;
    padding-bottom: 97px;

}

.contact-icons img {
    width: 1.125rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.left-img, .right-img {
    display: none;
}

@media screen and (min-width: 990px){
    .banner-container {    
        background-image: url("../images/hero-bg.svg");     
        height: 800px;      
    }
    
    .logo-img {
        margin: 4.25rem 0 5rem;
    }
    
    .banner {
        color: #514949;
        padding: .625rem;
        max-width: 700px;
    }
    
    .banner h2 {
        font-size: 2rem;
        font-weight: 600;                        
    }
    
    .banner p {
        font-size: 16px;
        font-weight: 600;            
    }

    .btn-container {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .programs-container {
        padding: 141px 16px 0;
        position: relative;
    }

    .programs-container .slogan {            
        margin: .5rem 0 3rem;
    }

    .programs-content {
        display: flex;
        padding: 0 80px;
    }

    .program-card p {
        font-size: 14px;
    }

    .left-img, .right-img {
        display: block;
        position: absolute;
        top: 250px;
        width: 400px;
        z-index: -1;
    }

    .left-img {
        left: 0;
    }

    .right-img {
        right: 0;
    }

    footer {
        margin: 12rem 0 0;
        text-align: center;
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 112px 70px;
        width: 100%;
    }

    .footer-logo {
        width: 110px;
        margin-top: 10px;
    }

    .footer-nav div {        
        text-align: left;
    }

    .footer-nav h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    
    .contact-container h3 {
        margin: 0;
    }
    
    hr {
        width: 85%;
        margin: 0 112px;
    }

}