* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";        
    text-align: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #fff;   
    padding: 10.5px 1rem;
    position: fixed;
    width: 100%;
    max-width: 100vw;  
    z-index: 3;  
}

.header-logo {    
    padding: 6px 8px;
}

button {
    background-color: #e7332b;
    border: none;
    border-radius: 0 0 8px 0;
    color: #fff;  
    cursor: pointer;  
    font-size: 1rem;            
    padding: 8px 25px;    
}

button:hover {
    box-shadow: 0px 3px 6px #787878;
}

a {
    text-decoration: none;
}

header a>p {
    display: none;
}

.banner-container {
    margin: 0 1.675rem;
    padding: 130px 0 0;    
    text-align: center;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.banner h2 {
    color: #161617;
    font-size: 2.5rem;    
    line-height: 3rem;
}

.banner p {
    color: #787878;
    font-size: 16px;    
    margin: 2rem auto;
    text-align: center;
    width: 97%;
}

.red-highlight {
    color: #e7332b;
    position: relative;
}

.talents-swirl {
    position: absolute;
    right: -8px;
    bottom: -16px;
    width: 100px;
}

.btn-container {   
    display: flex; 
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

.btn-container button {  
    font-size: 1.1rem;          
}

.join-btn {
    background-color: #585858;  
    margin-left: 1rem;  
}

.banner-img {
    width: 100%;
}

.impact-container {
    background-image: url("../images/talent-images/bgsection2.063bd869082548bafa74.png");
    margin: 100px 0;
    padding: 90px 1.675rem;    
    text-align: left;
}

.impact-section{
    display: flex;
    flex-direction: column;    
    width: 100%;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.875rem;
    text-align: inherit;
}

.impact-section b {
    margin: 1rem 0;
}

.impact-section p {
    color: #787878;
}

.countries-container {
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    margin: 1.5rem 0 5rem;
}

.countries-container img {
    background-color: #fff;
    border-radius: 5px;
    padding: .5rem;
    height: 40px;
    width: 50px;
}

.skills-container {
    margin: 0 1.675rem 5rem;    
    text-align: left;
}

.skills {
    display: flex;    
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3.75rem 0;
}

.skill {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 5px 25px #7878782d;
    color: #787878;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    width: 50%;
    max-width: 140px;
    padding: .75rem;
    text-align: center;    
}

.skill p {
    width: 100%;
    margin: auto;
}

.skill:hover {
    transform: translateY(-1rem);
    transition: .4s ease-out;
}

.hire-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: rgb(255, 248, 229);    
    padding: 100px 1.675rem 80px;   
    position: relative; 
}

.rope-img {
    position: absolute;
    top: 25%;
    left: 0;
    /* width: 100%;     */
}

.reasons-to-hire {
    margin: 5rem 0 0;
}

.hire-reason {
    background-color: #fff;
    border-radius: 0 0 16px 0;
    padding: 45px 10px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.hire-reason:hover {
    background-color: #161617;
    box-shadow: 0 8px 30px hsl(0deg 0% 69% / 7%);
    color: #fff;
}

.hire-reason p {
    color: #787878;
    margin: 1.5rem 1px;
    padding: 15px 0 0;
}

.hire-container .btn-container {
    margin: 4.5rem 0 0;
}

footer {
    background-color: #161617;
    padding: 80px 0 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.socials-container {
    margin: 1rem 0 0;
}

.socials-container img {
    height: 30px; 
    width: 30px; 
    margin: .5rem;  
}

.email-link {
    margin: 1rem 0;
}

.email-link a {
    color: #fff;
    font-weight: 500;    
}

footer hr {
    border-color: gray;
    border-width: 0 0 thin;
    width: 90%;
}

.copyright {    
    color: #fff;
    margin: 1rem  0;
    padding: 0 16px;
}