* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 253, 245);
    color: #1b1a20;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffdf5;
    padding: 21px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

a {
    text-decoration: none;    
}

header a>p {
    display: none;
}

.header-logo {
    width: 87%;
}

.enroll-container {
    display: flex;
    align-items: center;
    position: relative;
}

.enroll-container > button {
    background-color: #e7332b;
    border: none;
    border-radius: 4.5rem;
    color: #fff;    
    font-size: 1.125rem;
    min-width: 64px;
    width: 100%;
    padding: 10px 20px;
}

.thumb-img {
    background-color: #e7332b;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    width: 45%;
    margin: 0 0 0 -2.5rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;    
    align-items: center;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);    
    margin: 1rem;
    padding: 80px 0 32px;
    text-align: center;
}

.banner img {
    width: 100%;
}

h2 {
    color: #e7332b;
    font-weight: 500;
    font-size: 1.125rem;
}

.banner h2 {
    margin: -1rem 0 0rem;
}

b {
    color: #1b1a20; 
    display: block;  
    font-size: 1.85rem;             
    font-weight: 700;
    line-height: 110%;
    padding-top: 10px;    
}

.banner p {
    font-size: 1.075rem;
    opacity: .9;
    padding: 0 0 40px;
}

.banner .enroll-container {
    display: block;
}

.banner .enroll-container > button {
    width: unset;    
}

.banner .curved-line {
    display: flex;
    margin: .25rem -1.25rem 1.75rem 60%; 
    width: 33%;
}

.banner .spiral {
    margin: 0 0 0 50%;
    width: 15%;
}

.sufficiency-container {  
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);      
    margin: 1rem;
    text-align: center;
}

.sufficiency-container b {
    font-size: 1.25rem;
}

.sufficiency-container img {
    margin: 1rem 0 2rem;
    width: 50%;    
}

.sufficiency-container p {
    font-size: 1.175rem;    
    letter-spacing: 0.016884px;
    line-height: 125%;
    opacity: .9;
    padding: 0px 0 40px;
}

.sufficiency-container a {
    color: #43b97f;
    text-decoration: underline;
}

.about-container {
    background: linear-gradient(180deg,rgba(255,244,240,0),#fff4f0 17.19%,#fff4f0 84.37%,rgba(255,244,240,0));
    padding: 1.5rem 1rem; 
    margin-bottom: 5rem;
    position: relative;
}

.curly-arrow {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.why-section {
    margin-top: 2.5rem;
}

.why-section b {
    font-size: 1.5rem;
    line-height: 130%;    
    padding-right: 1rem;
}

.reason-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3.375rem 0;
}

.reason {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    transition: .3s ease-out;
    padding: 58px 48px 63px 40px;
}

.reason:hover {
    transition: .3s ease-out;
    transform: translateY(-1rem);
}

.reason strong {
    font-size: 2.75rem;
    font-weight: 800;
}

.reason h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
    padding: 0 35% 0 0;
}

.reason p {
    font-size: 1.2rem;
    line-height: 120%;
    margin-top: 1.25rem;
    opacity: .9;
}

.box1 {
    background-color: #e7332b;
    color: #fff;
}

.curve {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}

.training-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e7332b;
    color: #fff;
    padding: 6rem 1rem 0;
    position: relative;
}

.curly-arrow--2 {
    position: absolute;
    width: 15%;
    left: 50%;
    top: 3.5rem;
    transform: translateX(-50%);
}

.training-container h2, .training-container b {
    color: #fff;
    line-height: 125%;
    padding-right: 8px;
}

.training-container p {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 3rem 0 1.5rem;
    padding-right: 16px;
}

.training-container button {
    background-color: #fff;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    color: #e7332b;
    letter-spacing: .075rem;    
    width: 45%;
}

.attractions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 1.5rem;   
    margin: 2.5rem 0;
}

.attraction {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 30px;
    gap: 6%;    
    padding: 11px 8px 11px 15px;   
    width: 45%; 
    height: 100%;
}

.attraction img {
    width: 15%;
    min-width: 30px;
}

.attraction p {
    font-size: .8125rem;
    margin: 0;
    padding: 0;
}

.girl-writing {
    width: 100%;
}

.dotsquare-img {
    width: 20%;
    padding: 35px 16px;
    align-self: start;
}