* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 253, 245);
    color: #1b1a20;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffdf5;
    padding: 21px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

a {
    text-decoration: none;
}

header a>p {
    display: none;
}

.header-logo {
    width: 87%;
}

.enroll-container {
    display: flex;
    align-items: center;
    position: relative;
}

.enroll-container>button {
    background-color: #e7332b;
    border: none;
    border-radius: 4.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.125rem;
    min-width: 64px;
    width: 100%;
    padding: 10px 20px;
}

.thumb-img {
    background-color: #e7332b;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    width: 45%;
    margin: 0 0 0 -2.5rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin: 1rem;
    padding: 80px 0 32px;
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
}

h2 {
    color: #e7332b;
    font-weight: 500;
    font-size: 1.125rem;
}

.banner h2 {
    margin: -1rem 0 0rem;
}

b {
    color: #1b1a20;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 110%;
    padding-top: 10px;
}

.banner b {
    font-size: 1.85rem;
}

.banner p {
    font-size: 1.075rem;
    opacity: .9;
    padding: 0 0 40px;
}

.banner .enroll-container {
    display: block;
}

.banner .enroll-container>button {
    width: unset;
}

.banner .curved-line {
    display: flex;
    margin: .25rem -1.25rem 1.75rem 60%;
    width: 33%;
}

.banner .spiral {
    margin: 0 0 0 50%;
    width: 15%;
}

.sufficiency-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin: 1rem;
    text-align: center;
}

.sufficiency-container b {
    font-size: 1.25rem;
}

.sufficiency-container img {
    margin: 1rem 0 2rem;
    width: 50%;
}

.sufficiency-container p {
    font-size: 1.175rem;
    letter-spacing: 0.016884px;
    line-height: 125%;
    opacity: .9;
    padding: 0px 0 40px;
}

.sufficiency-container a {
    color: #43b97f;
    text-decoration: underline;
}

.about-container {
    background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0));
    padding: 1.5rem 1rem;
    margin-bottom: 5rem;
    position: relative;
}

.curly-arrow {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}

.why-section {
    margin-top: 2.5rem;
}

.why-section b {
    font-size: 1.5rem;
    line-height: 130%;
    padding-right: 1rem;
}

.reason-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3.375rem 0;
}

.reason {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    transition: .3s ease-out;
    padding: 58px 48px 63px 40px;
}

.reason:hover {
    transition: .3s ease-out;
    transform: translateY(-1rem);
}

.reason strong {
    font-size: 2.75rem;
    font-weight: 800;
}

.reason h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
    padding: 0 35% 0 0;
}

.reason p {
    font-size: 1.2rem;
    line-height: 120%;
    margin-top: 1.25rem;
    opacity: .9;
}

.box1 {
    background-color: #e7332b;
    color: #fff;
}

.curve {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
}

.training-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e7332b;
    color: #fff;
    padding: 6rem 1rem 0;
    position: relative;
}

.curly-arrow--2 {
    position: absolute;
    width: 15%;
    left: 50%;
    top: 3.5rem;
    transform: translateX(-50%);
}

.training-container h2,
.training-container b {
    color: #fff;
    line-height: 125%;
    padding-right: 8px;
}

.training-container b {
    font-size: 1.85rem;
}

.training-container p {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 3rem 0 1.5rem;
    padding-right: 16px;
}

.training-container .enroll-container,
.begin-container .enroll-container {
    max-width: 9rem;
}

.training-container button {
    background-color: #fff;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    color: #e7332b;
    letter-spacing: .075rem;
    width: 45%;
}

.attractions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 2.5rem 0;
}

.attraction {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 30px;
    gap: 6%;
    padding: 11px 8px 11px 15px;
    width: 45%;
    height: 100%;
}

.attraction img {
    width: 15%;
    min-width: 30px;
}

.attraction p {
    font-size: .8125rem;
    margin: 0;
    padding: 0;
}

.girl-writing {
    width: 100%;
}

.dotsquare-img {
    width: 20%;
    padding: 35px 16px;
    align-self: start;
}

.scope-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 4.5rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.scope-swirl {
    width: 40%;
    align-self: center;
    margin: 1rem 0;
}

.track {
    background-color: #fff;
    border-radius: 41px;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    margin: 1.5rem 0;
    padding: 40px;
}

.track-images-container {
    display: flex;
    align-items: flex-end;
    margin-top: 1.25rem;
    width: 100%;
}

.track-images-container img {
    height: 45px;
    max-width: 90px;
    margin-right: 1rem;
}

.lg-img-container img {
    max-height: 35px;
    margin-right: .5rem;
    width: 80px;
}

.track p {
    margin: 2.5rem 0;
}

.scope-container .enroll-container,
.begin-container .enroll-container {
    width: unset;
    margin: 2rem auto 0;
}

.scope-container button,
.training-container button,
.begin-container button {
    width: unset;
}

.faq-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin: 0 1rem;
    padding: 17.5% 0 40px;
    position: relative;
}

.faq-section {
    margin: 0 0 5rem;
    text-align: center;
    padding: 0 2rem;
}

.faq-swirl {
    position: absolute;
    top: 2rem;
    left: 7.5%;
    width: 23%;
}

.accordion {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid rgba(71, 44, 111, .43);
    border-bottom: none;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 130%;
    padding: 20px;
    transition: 0.4s;
}

.accordion .fa-plus {
    font-size: 1.25rem;
    transition: 0.4s;
    margin-left: 1rem;
}

.accordion .fa-plus.active {
    transform: rotate(270deg);
}

.panel {
    padding: 0 20px;
    border: 1px solid rgba(71, 44, 111, .43);
    border-top: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.tweet-section {
    margin: 4.375rem 0 0;
}

.tweet-section h4 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    text-align: center;
}

.tweet-section .enroll-container button {
    font-size: 1rem;
    margin: auto;
    width: unset;
}

.structure-container {
    background-color: #fffdf5;
    padding: 30px 16px;
    position: relative;
    text-align: center;
}

.top {
    position: absolute;
    top: 2rem;
}

.structure-swirl {
    left: 15%;
    width: 23%;
}

.structure-star {
    right: 0;
    width: 13%;
}

.structure {
    margin: 2rem 0 0;
}

.structure b {
    padding: 0;
}

.structure p {
    margin: 1.25rem 0;
}

.path-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.path {
    background-color: #1b1a20;
    border-radius: 65px;
    box-shadow: 0 31px 60px rgba(231, 51, 43, 0.2);
    color: #fff;
    margin: 1.25rem 0;
    padding: 64px 48px;
    position: relative;
    text-align: left;
    z-index: 2;
}

.path ul {
    list-style-position: inside;
    margin-bottom: 1rem;
}

.training-list {
    list-style: none;
}

.training-list li::before {
    content: "\2022";
    /* \2022 is the CSS Code/unicode for a bullet */
    color: transparent;
    display: inline-block;
    width: 8px;
    margin: 0 1rem 0 -1px;
}

.path h2 {
    color: #fff;
    font-size: 2.125rem;
    font-weight: 700;
}

.path p {
    margin: 1rem 0;
}

.path li>p {
    margin: 0;
    padding: 0 0 0 1.45rem;
}

.path .bottom {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 25%;
}

.bottom-circle {
    position: absolute;
    bottom: -1.25rem;
    right: -14px;
    width: 40%;
    z-index: 1;
}

.begin-container {
    background-color: #e7332b;
    border-radius: 21px;
    color: #fff;
    margin: 4rem 1rem;
    padding: 4.375rem;
    position: relative;
    text-align: center;
}

.begin-container h2,
.begin-container b {
    color: #fff;
    line-height: 130%;
}

.begin-container b {
    font-size: 1.625rem;
}

.begin-container .enroll-container button {
    color: #e7332b;
    background-color: #fff;
    font-size: 1.075rem;
    letter-spacing: .125rem;    
    padding: 10px 20px;    
}

.top-right {
    top: 0;
    right: 0;
    position: absolute;
    width: 22%;
}

.up-left {
    position: absolute;
    top: 7.5%;
    left: 10%;
    width: 22%;
}

.bottom-right {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 22%;
}

.bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 22%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 1rem;
}

.footer-logo {
    width: 300px;
}

footer a {
    color: #1b1a20;
}

footer nav {
    margin: 2rem 0;
    width: 100%;
}

.text-links-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding: .5rem 0;
    width: 100%;
}

.text-links-container p {
    margin: 1.5rem;
}

.copyright {
    margin: 0 0 1rem;
}

.male-face {
    display: none;
}

@media screen and (min-width: 600px) {

    header {
        padding: 27px 38px;
    }

    .banner,
    .sufficiency-container,
    .scope-container,
    .faq-container,
    .begin-container {
        margin: 1rem 2.375rem;
    }

    .banner b {
        font-size: 2.375rem;
    }

    .banner p {
        font-size: 1.125rem;
        margin: 0 7rem;
    }

    .header-logo {
        width: 300px;
    }

    .thumb-img {
        width: 55%;
        margin: 0 0 0 -3rem;
    }

    .banner .girl-img {
        width: 76%;
    }

    .banner .male-face {
        display: block;
        position: absolute;
        bottom: 10%;
        left: 5%;
        width: 54px;
    }

    .about-container {
        padding: 1rem 2.375rem;
    }

    .reason-container {
        padding: 1rem;
    }

    .reason {
        padding: 58px 48px 93px 50px
    }

    .reason strong {
        font-size: 3.75rem;
    }

    .reason h3 {
        font-size: 2.125rem;
        padding: 0 60% 0 0;
    }

    .training-container,
    .structure-container {
        padding: 96px 38px;
    }

    .training-container b {
        font-size: 1.875rem;
    }

    .attraction {
        border-radius: 79px;
    }

    .scope-container b {
        padding: 0 30% 0 0;
    }

    .scope-swirl {
        width: 13%;
    }

    h4 {
        font-size: 1.25rem;
    }

    .tweet-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tweet-section h4 {
        font-size: 1.125rem;
        margin: 0 2rem;
    }

    .structure-star {
        right: 3rem;
        width: 12%;
    }

    .bottom-circle {
        max-width: 100px;
        bottom: 0;
    }

    .begin-container b {
        font-size: 2.875rem;
        padding: 0 17.5%;
    }

    footer {
        align-items: flex-start;
        justify-content: flex-end;
        padding: 90px 38px 20px;
        gap: 2rem;
        position: relative;
    }

    footer nav {
        display: flex;  
        flex-direction: column;        
        align-items: flex-end;
        gap: 2.5rem;

        position: absolute;           
        bottom: 0;  
        right: 0;         
        margin: 1rem 2.375rem 36px;  
        width: unset;         
    }

    .socials a {
        margin-left: .5rem;
    }

    .text-links-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 1.5rem;
        
        border-bottom: none;        
        padding: 0;        
        width: unset;
    }
    
    .text-links-container p {
        margin: 0;        
    }
}